# SVN files
.svn*

# EMACS temp files
*~

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.bin
*.ld
*.dat
*.htm
*.log
*.cf
*.ghw

# tb executable names
firmware/ghdl/pix2pgpgearboxwrappertb
firmware/ghdl/pix2pgpsparkpixstoptb
firmware/ghdl/pix2pgpsparkpixttoptb
firmware/ghdl/pix2pgparbitertb
firmware/ghdl/pgptb

# pkg file (now linked over by ghdl script)
firmware/core/pkg/Pix2PgpPkg.vhd

# Matlab
*.autosave
*.slxc

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumps.db
*.swp
build.info

# Build directories
build*
images*
bin*
.Xil*
.obj*
.ipynb_checkpoints*
*.jou
slprj*

# Only .bit.gz and .mcs.gz should be committed to git
*.bit
*.mcs
*.gz
*.ltx
*.hdf
*.vho
*.zip
*.xsa
*.pdi
*.bif
*.elf
