# Ignore everything in this directory
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore the directory 'shared'
!shared/

# Do not ignore contents within the 'shared' directory
!shared/**
